:root {
    --main-color: rgb(19, 197, 19);
    --secondary-color: rgb(84, 84, 215);
    --dih-color: rgb(100, 47, 47);
    --text-color: white;
    --shadow: 0px 10px 5px rgba(0, 0, 0, 0.203),
              0px 15px 10px rgba(93, 90, 90, 0.263);
    --transition: all 0.3s ease;
}
* {
   transition: var(--transition);
}

html {
    margin: 0 auto;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--main-color);
    height: 50vh;
}

div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section {
    height: 75vh;
}

button {
    display: block;
    color: var(--text-color);
    background-color: var(--secondary-color);
    font-size: 10vh;
    transform: translateY(200px);
    box-shadow: var(--shadow);
}

button:hover {
    background-color: rgb(8, 222, 222);
}

 .navbar1 {
      display: flex;
      flex-direction: row;
      background-color: blueviolet;
      overflow: hidden;
      position: fixed; /* jää näkyviin sivun yläreunaan */
      top: 0;
      width: 100%;
      left: 0px;
      box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
      z-index: 10;
    }

    .navbar1 a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      font-size: xx-large;
      transform: translateX(150px);
    }

    .navbar1 a:hover {
      color: bisque;
      transform: translateY(-5px) translateX(150px);
    }

.navbar1 h1 {
  color: black;
  transform: translateX(250px);
  text-shadow: #333;
  font-weight: 600;
}

.navbar1 h1:hover {
  transform: translateY(-5px) translateX(250px);
}

    .navbar1 button {
      background-color: #333;
      border: none;
      color: white;
      padding: 14px 20px;
      text-align: center;
      cursor: pointer;
      font-size: 16px;
    }

    .navbar1 button:hover {
     font-style: #575757;
    }

    .content {
      padding: 80px 20px;
    }